body {
  background-color: #f2f2f2;
  font-family: "PTSans", sans-serif ;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

/*header*/

.navigation {
  background-color: #fff;
}

.logo {
  left: 45.5%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation a {
  color: #000;
  font-weight: bold;
  line-height: 26px;
  list-style: none;
  text-decoration: none;
}

.navigation a:hover {
  color: #81b3d2;
}

.navigation a:active {
  color: rgba(178, 178, 178, 0.3);
}

.navigation li:nth-child(3){
  padding-left: 300px;
}

/*info+*/

.info {
  align-items: center;
  background: url(backgrounds/white.png) no-repeat 100% 100%,
  url(backgrounds/Shape.png) no-repeat 50% 68%,
  url(backgrounds/background-index.jpg) no-repeat bottom;
  display: flex;
  flex-direction: column;
  min-height: 715px;
  position: relative;
}

.info::after {
  background-color: #766357;
  content: "";
  height: 2px;
  left: 470px;
  position: absolute;
  top: 142px;
  width: 30px;
}

.info::before {
  background-color: #766357;
  content: "";
  height: 2px;
  left: 695px;
  position: absolute;
  top: 142px;
  width: 30px;
}

.title-hidden {
  position: absolute;
  visibility: hidden;
}

.welcome {
  margin-top: 75px;
}

.gorgeous {
  margin-top: 10px;
}

.sedona {
  margin-top: 50px;
}

.because {
  margin-top: 55px;
}

.promo-sentence {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-top: 130px;
  margin-left: 340px;
  margin-right: 340px;
  text-align: center;
}

.causes-title {
  font-size: inherit;
  font-weight: normal;
  line-height: 26px;
  margin-top: 30px;
}

/*content*/

.content {
  background: #fff url(backgrounds/back2.png) no-repeat 100% 0;
}

.cause {
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
  color: #fff;
  width: 400px;
}

.cause-title-main {
  padding-top: 22px;
  margin-left: 130px;
  margin-right: 130px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.number {
  position: relative;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 14px;
}

.number::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #bcd6e7;
  top: 10px;
  left: 175px;
}

.number::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #bcd6e7;
  top: 10px;
  left: 215px;
}

.cause-text {
  text-align: center;
  padding-bottom: 23px;
  margin-left: 40px;
  margin-right: 40px;
}

.cause-title {
  font-size: 21px;
  text-align: center;
}

.seconds-causes {
  display: flex;
}
