body {
  background-color: #f2f2f2;
  font-family: "PTSans", sans-serif ;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.container {
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

/*header*/

.navigation {
  background-color: #fff;
  position: relative;
}

.logo {
  left: 44.1%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation a {
  color: #000;
  font-weight: bold;
  line-height: 26px;
  list-style: none;
  text-decoration: none;
}

.navigation a:hover,
.navigation a:focus {
  color: #81b3d2;
  outline: transparent;
}

.navigation a:active {
  color: rgba(178, 178, 178, 0.3);
}

.navigation .active {
  color: #766357;
}

.navigation li:nth-child(3){
  padding-left: 300px;
}

/*info*/

.info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(backgrounds/white.png) no-repeat 100% 100%,
  url(backgrounds/Shape.png) no-repeat 50% 68%,
  url(backgrounds/background-index.jpg) no-repeat bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 715px;
  position: relative;
}

.info::after {
  background-color: #766357;
  content: "";
  height: 2px;
  left: 470px;
  position: absolute;
  top: 142px;
  width: 30px;
}

.info::before {
  background-color: #766357;
  content: "";
  height: 2px;
  left: 695px;
  position: absolute;
  top: 142px;
  width: 30px;
}

.title-hidden {
  position: absolute;
  visibility: hidden;
}

.welcome {
  margin-top: 75px;
}

.gorgeous {
  margin-top: 10px;
}

.sedona {
  margin-top: 50px;
}

.because {
  margin-top: 55px;
}

.promo-sentence {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-top: 130px;
  margin-left: 340px;
  margin-right: 340px;
  text-align: center;
}

.causes-title {
  font-size: inherit;
  font-weight: normal;
  line-height: 26px;
  margin-top: 30px;
}

/*content*/

main {
  position: relative;
}

.content {
  background: #fff url(backgrounds/back2.png) no-repeat 100% 0;
}

.cause {
  background-color: #81b3d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  width: 400px;
}

.cause-title-main {
  font-size: 21px;
  line-height: 26px;
  margin-left: 130px;
  margin-right: 130px;
  padding-top: 22px;
  text-align: center;
}

.number {
  margin-top: 14px;
  margin-bottom: 14px;
  position: relative;
  text-align: center;
}

.number::after {
  background-color: #bcd6e7;
  content: "";
  height: 2px;
  left: 175px;
  position: absolute;
  top: 10px;
  width: 10px;
}

.number::before {
  background-color: #bcd6e7;
  content: "";
  height: 2px;
  left: 215px;
  position: absolute;
  top: 10px;
  width: 10px;
}

.cause-text {
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 23px;
  text-align: center;
}

.cause-title {
  font-size: 21px;
  text-align: center;
}

.seconds-causes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.seconds-causes .cause-title {
  margin-top: 160px;
}

.seconds-causes .cause-text {
  margin-bottom: 75px;
}

.appartaments {
  background: url(backgrounds/icon-1.svg) no-repeat center 60px;
  width: 400px;
}

.food {
  background: url(backgrounds/icon-3.svg) no-repeat center 60px;
  width: 400px;
}

.presents {
  background: url(backgrounds/icon-2.svg) no-repeat center 55px;
  width: 400px;
}

.content-part-two {
  background: #fff url(backgrounds/back3.png) no-repeat 0 0;
  background-size: auto 283px;
}

.two {
  margin-left: auto;
}

.two .cause-title-main {
  margin-left: 114px;
  margin-right: 114px;
}

.another-cause {
  background: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
}

.another-cause .cause-title {
  margin-left: 130px;
  margin-right: 130px;
  margin-top: 50px;
}

.third,
.fourth,
.fifth {
  margin-top: 14px;
  margin-bottom: 14px;
  position: relative;
  text-align: center;
}

.another-cause .third::after {
  background: #979797;
  content: "";
  height: 2px;
  left: 175px;
  position: absolute;
  top: 10px;
  width: 10px;
}

.third::before {
  background-color: #979797;
  content: "";
  height: 2px;
  left: 215px;
  position: absolute;
  top: 10px;
  width: 10px;
}

.fourth::after {
  background: #979797;
  content: "";
  height: 2px;
  left: 175px;
  position: absolute;
  top: 10px;
  width: 10px;
}

.fourth::before {
  background-color: #979797;
  content: "";
  height: 2px;
  left: 215px;
  position: absolute;
  top: 10px;
  width: 10px;
}

.fifth::after {
  background: #979797;
  content: "";
  height: 2px;
  left: 175px;
  position: absolute;
  top: 10px;
  width: 10px;
}

.fifth::before {
  background-color: #979797;
  content: "";
  height: 2px;
  left: 215px;
  position: absolute;
  top: 10px;
  width: 10px;
}

.another-cause .cause-text {
  color: #333333;
  margin-bottom: 60px;
}

/*conection*/

.conection {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conection-title {
  margin-top: 55px;
}

.conection-text {
  margin: 20px 375px 40px 375px;
  text-align: center;
}

.conection button {
  background: #766357;
  border: none;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  height: 85px;
  line-height: 26px;
  text-transform: uppercase;
  width: 575px;
}

.conection button:hover,
.conection button:focus {
  background: #604e43;
  outline-color: transparent;
}

.conection button:active {
  background: #503e33;
  color: rgba(255, 255, 255, 0.3);
}


/*footer*/

.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.promo {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 35px;
  margin-left: -50px;
  margin-top: 35px;
}

.social-medias a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #81b3d2;
  color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 9px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
}

.twitter {
  background: #81b3d2 url(backgrounds/t.svg) no-repeat center center;
}

.twitter:active {
  background: url(backgrounds/t-active.svg) no-repeat center center;
}

.facebook {
  background: #81b3d2 url(backgrounds/fb-icon.svg) no-repeat center center;
}

.facebook:active {
  background: url(backgrounds/fb-icon-active.svg) no-repeat center center;
}

.youtube {
  background: #81b3d2 url(backgrounds/youtube.svg) no-repeat center center;
}

.youtube:active {
  background: url(backgrounds/youtube-active.svg) no-repeat center center;
}

.social-medias a:hover,
.social-medias a:focus {
  background-color: #669ec0;
  outline-color: transparent;
}

.social-medias a:active {
  background-color: #5496bd;
}

.academy {
  background: url(backgrounds/logo_name.svg) no-repeat 100% 50%;
  display: block;
  height: 45px;
  min-width: 115px;
  vertical-align: middle;
}

.academy:hover,
.academy:focus {
  background: url(backgrounds/logo-hover.svg) no-repeat 100% 50%;
  outline-color: transparent;
}

.academy:active {
  background: url(backgrounds/logo-active.svg) no-repeat 100% 50%;
}

.invite {
  left: 870px;
  position: absolute;
}

/*search+*/

.search {
  background: #fff;
  bottom: 83px;
  display: none;
  font-weight: bold;
  left: 312px;
  padding-top: 50px;
  position: absolute;
  width: 575px;
}

.search-show {
  display: block;
}

.search .info-list {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 55px;
  margin-right: 55px;
}

.search input {
  background: #f2f2f2;
  border: none;
  display: inline;
  font-weight: bold;
  color: #000;
  line-height: 26px;
  margin-left: 15px;
  text-transform: uppercase;
}

.search input:hover {
  background: #ebebeb;
}

.search input:focus {
  background: #fff;
  border: 2px solid #e5e5e5;
  outline: transparent;
}

.date-inp {
  background: url(backgrounds/calendar.svg) no-repeat 0 0;
  height: 35px;
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 20px;
  width: 302px;
}

.first {
  margin-right: 55px;
}

.number-inp {
  margin-left: 40px;
  margin-top: 30px;
  height: 35px;
  text-align: center;
  width: 113px;
}

.search-btn {
  background: #81b3d2;
  border: none;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  height: 60px;
  margin-top: 55px;
  margin-bottom: 55px;
  text-transform: uppercase;
  width: 460px;
}

.search-btn:hover,
.search-btn:focus {
  background: #669ec0;
  outline-color: transparent;
}

.search-btn:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.info-list .date-inp:first-child {
  margin-top: 55px;
}

.begin {
  margin-top: 0px;
}

.no-valid {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: noValid;
          animation-name: noValid;
}

.first-plus {
  bottom: 178px;
  position: absolute;
  right: 70px;
}

.plus,
.minus {
  color: #a9a9a9;
  font-size: 17px;
  text-decoration: none;
}

.plus:hover,
.plus:focus,
.minus:hover,
.minus:focus {
  color: #000;
  outline-color: transparent;
}

.plus:active,
.minus:active {
  color: #81b3d2;
}

.minus {
  font-size: 25px;
}

.second-plus {
  bottom: 178px;
  right: 295px;
  position: absolute;
  top: center;
}

.first-minus {
  bottom: 180px;
  position: absolute;
  right: 140px;
}

.second-minus {
  bottom: 180px;
  position: absolute;
  right: 365px;
}

.calendar {
  background: url(backgrounds/calendar-f.png) no-repeat;
  display: block;
  color: transparent;
  height: 25px;
  position: absolute;
  right: 75px;
  text-decoration: none;
  top: 58px;
  width: 25px;
}

.second-calendar {
  top: 125px;
}

.calendar:hover,
.calendar:focus {
  background: url(backgrounds/calendar.png) no-repeat;
  outline-color: transparent;
}

.calendar:active {
  background: url(backgrounds/calendar-a.png) no-repeat;
}

@-webkit-keyframes noValid{
  from {
    background: red;
  }
  30% {
    background: #fff;
  }
  60% {
    background: red;
  }
  75% {
    background: #fff
  }
  90% {
    background: red;
  }
  to {
    background: #fff;
  }
}

@keyframes noValid{
  from {
    background: red;
  }
  30% {
    background: #fff;
  }
  60% {
    background: red;
  }
  75% {
    background: #fff
  }
  90% {
    background: red;
  }
  to {
    background: #fff;
  }
}

/*calendar*/
#calendar {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 35px;
  left: 15px;
}

.calendar--off {
  display: none;
}

.calendar--show {
  display: block;
}

#calendar2 {
  font-size: 15px;
  line-height: 1.2em;
  text-align: center;
  width: 100%;
}

#calendar2 thead tr:last-child {
  color: rgb(85, 85, 85);
  font-size: small;
}

#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: rgb(50, 50, 50);
}

#calendar2 thead tr:nth-child(1) td:nth-child(1):hover,
#calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}

#calendar2 tbody td {
  color: rgb(44, 86, 122);
}

#calendar2 tbody td:nth-child(n+6),
#calendar2 .holiday {
  color: rgb(231, 140, 92);
}

#calendar2 tbody td.today {
  background: rgb(220, 0 , 0);
  color: #fff;
}

/*hotels*/

.filter-hotels {
  background: url(backgrounds/filter.jpg) top;
  color: #fff;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.filter-hotels legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  margin-top: 0px;
}

.infastructure,
.type-appartaments {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 17px;
  margin-left: 70px;
  margin-top: 30px;
  width: 140px;
}

.filter-hotels label {
  margin-top: 25px;
}

.filter-hotels input[type='checkbox'] {
  margin: 20px 0 0 7px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.filter-hotels input[type='checkbox'] + label {
  cursor: pointer;
  margin-top: 25px;
  padding: 0 0 0 40px;
  position: relative;
}

.filter-hotels input[type='checkbox'] + label::before {
  background-color: inherit;
  border-radius: 3px;
  border: 2px solid #fff;
  content: "";
  height: 19px;
  left: 0px;
  position: absolute;
  top: -3px;
  width: 19px;
}

.filter-hotels input[type='checkbox'] + label::after {
  content: "";
  height: 20px;
  left: 0px;
  position: absolute;
  opacity: 0;
  top: -3px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  width: 25px;
}

.filter-hotels input[type='checkbox']:checked + label::after {
  background: url(backgrounds/checkbox-on.svg);
  opacity: 1;
}

.cost {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 315px;
  margin-top: 30px;
  width: 320px;
}

.range-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  width: 300px
}

.cost input[type="range"] {
  -moz-appearance: none;
       appearance: none;
  background-color: #d7dcde;
  height: 2px;
  -webkit-appearance: none;
  width: 150px;
}

.cost input[type="range"]::-webkit-slider-thumb {
  background: url(backgrounds/filter-button.svg) no-repeat center center;
  height: 25px;
  -webkit-appearance: none;
  width: 25px;
}

.cost input[type="range"]::-ms-thumb {
  background: url(backgrounds/filter-button.svg) no-repeat center center;
  height: 25px;
  -ms-appearance: none;
  width: 25px;
}

.field__box {
  padding-top: 13px;
  padding-bottom: 13px;
}

.results {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 33px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 303px;
}

.results::after {
  background: #fff;
  content: "";
  height: 20px;
  position: absolute;
  width: 2px;
}

.cost .result {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-btn {
  background: transparent;
  border-radius: 3px;
  border: none;
  border: 2px solid #fff;
  bottom: 40px;
  color: #fff;
  height: 35px;
  position: absolute;
  right: 170px;
  text-transform: uppercase;
  width: 135px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #000;
  background: #fff;
  outline-color: transparent;
}

/*sorting*/

.sorting {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.sorting-amount {
  line-height: 26px;
  margin-bottom: 25px;
  margin-left: 70px;
  margin-top: 25px;
}

.title-sort {
  font-size: 12px;
  line-height: 18px;
  margin-left: 50px;
}

.type-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  margin-left: -30px;
}

.type-sort a {
  border-bottom: 1px dashed #81b3d2;
  color: #c6c6c6;
  margin-left: 30px;
  text-decoration: none;
}

.type-sort a:hover,
.type-sort a:focus {
  color: #81b3d2;
  outline-color: transparent;
}

.type-sort a:active {
  color: #000;
  border: none;
}

.type-sort .active-page {
  color: #81b3d2;
  border: none;
}

.next-previous-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 7px;
  list-style: none;
  position: absolute;
  right: 50px;
  top: 20px;
}

.next-previous-icons a {
  color: transparent;
  margin: 1px;
}

.next {
  background: url(backgrounds/icon-up-dir.svg) no-repeat right;
}

.previous {
  background: url(backgrounds/icon-down-dir.svg) no-repeat right;
}

.next:hover,
.next:focus {
  background: url(backgrounds/up-hover.svg) no-repeat right;
  outline-color: transparent;
}

.previous:hover,
.previous:focus {
  background: url(backgrounds/down-hover.svg) no-repeat right;
  outline-color: transparent;
}

.next:active {
  background: url(backgrounds/up-active.svg) no-repeat right;
}

.previous:active {
  background: url(backgrounds/icon-down-dir.svg) no-repeat right;
}

/*annoncments*/

.annoncments {
  background: #fff;
}

.annoncment {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 70px;
  position: relative;
}

.annoncment-content {
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: 10px;
}

.annoncments a {
  text-decoration: none;
}

.annoncment-content .annoncment-info {
  color: #333333;
  position: relative;
  top: -10px;
}

.more-info {
  margin-bottom: 25px;
  margin-top: 20px;
}

.annoncment-title {
  color: #000;
  line-height: 26px;
}

.annoncment-title:hover,
.annoncment-title:focus {
  color: #81b3d2;
  outline-color: transparent;
}

.annoncment-title:active {
  color: #c6c6c6;
}

.annoncment-info:first-of-type {
  margin-right: 40px;
}

.annoncment .bt {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.more-info {
  background: #81b3d2;
  color: #fff;
  font-weight: bold;
  height: 25px;
  margin-top: 5px;
  width: 110px;
}

.more-info:hover,
.more-info:focus {
  background: #669ec0;
  outline-color: transparent;
}

.more-info:active {
  color: rgba(255, 255, 255, 0.3);
  background: #5496bd;
}

.dis-btn {
  background: #766357;
  color: #fff;
  font-weight: bold;
  height: 25px;
  margin-left: 5px;
  width: 140px;
}

.dis-btn:hover,
.dis-btn:focus {
  background: #604e43;
  outline-color: transparent;
}

.dis-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background: #503e33;
}

.raiting {
  background: #f2f2f2;
  color: #8b8b8b;
  height: 25px;
  margin-left: 520px;
  width: 110px;
}

.information {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -3px;
}

.stars {
  background: url(backgrounds/star.svg);
  left: 87%;
  position: absolute;
  top: 25%;
}

.four-str {
  height: 17px;
  width: 75px;
}

.three-str {
  height: 17px;
  left: 88%;
  width: 55px;
}

.two-str {
  height: 17px;
  left: 89%;
  width: 35px;
}
